# Set default behavior to automatically normalize line endings
*               text=auto eol=lf

# Force specific filetypes to have unix line endings (LF)
*.js            text eol=lf
*.mjs           text eol=lf
*.cjs           text eol=lf
*.json          text eol=lf
*.md            text eol=lf
*.txt           text eol=lf
*.css           text eol=lf
*.hbs           text eol=lf
*.yml           text eol=lf
*.yaml          text eol=lf

# Denote all files that are truly binary and should not be modified
*.png           binary
*.jpg           binary
*.jpeg          binary
*.gif           binary

# Diffing and merging strategies
*.json          diff=json
*.js            diff=javascript
*.mjs           diff=javascript
*.md            diff=markdown
*.css           diff=css

# Use text strategy for merging (not union) since this is more reliable for code
*.js            merge=text
*.mjs           merge=text
*.json          merge=text
*.css           merge=text
*.hbs           merge=text
